zhipuai 
pytest
pymongo
fastapi
uvicorn
psycopg[binary,pool]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
httpx
matplotlib
requests
minio
sqlalchemy
psycopg2-binary
pytest-mock
langchain
langchain_experimental
aiofiles
langchain
